section.section-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

div.card {
  width: 48%;
  max-width: 290px;
  background-color: #161616;
}

img.teste {
  width: 100%;
}

.card-title {
  font-size: 14px;
  color: #838383;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.price {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

p.card-text:nth-last-child(-n + 4) {
  font-size: 14px;
  margin-bottom: 0;
  color: #838383;
}

p.text-infos {
  font-size: 15px !important;
  font-weight: 500;
}
